section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(0, 0, 0);
}

.row{
    display: flex;
}
input{
    margin: 0.5rem;
}

button{
    text-decoration: none;
    width: 4rem;
    padding:3px ;
}

.operators{
    display: flex;
}